.DS_Store
target/
_minted-*
build/
*.sty
*.tex
*.zip
*.toc
*.pdf
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.idx
*.ilg
*.ind
*.exc
*.synctex.gz
package/
_docshots/
to-be-determined.glo
to-be-determined.hd
*.ret
*.tmp