_docshots/
_minted-*
.DS_Store
.idea/
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.pyg
*.ret
*.run.xml
*.sty
*.synctex.gz
*.tex
*.tmp
*.toc
*.zip
build/
node_modules/
package/
target/
to-be-determined.glo
to-be-determined.hd
